.responsive-table {
    overflow-x: auto;
}

.markdown table {
    --tw-border-spacing-x: 0px;
    --tw-border-spacing-y: 0px;
    border-collapse: separate;
    border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
    margin-bottom: .25rem;
    margin-top: .25rem;
    width: 100%;
    border-color: #e3e3e3;
}

.markdown th {
    background-color: hsla(0, 0%, 93%, .2);
    border-style: solid;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 0;
    border-top-width: 1px;
    padding: .25rem .75rem;
}

.markdown th:first-child {
    border-top-left-radius: .375rem;
}

.markdown th:last-child {
    border-right-width: 1px;
    border-top-right-radius: .375rem
}

.markdown td {
    border-style: solid;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 0;
    padding: .25rem .75rem
}

.markdown td:last-child {
    border-right-width: 1px
}

.markdown tbody tr:last-child td:first-child {
    border-bottom-left-radius: .375rem
}

.markdown tbody tr:last-child td:last-child {
    border-bottom-right-radius: .375rem
}

.markdown ul > li {
    margin-left: 24px;
}