[tool.poetry]
name = "eidolon_ai_client"
version = "0.1.0"
description = ""
authors = ["Luke Lalor <lukehlalor@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.11,<3.12"
setuptools = "^69.0.2"
jsonref = "^1.1.0"
pydantic = "^2.6.1"
httpx = "^0.27.0"
httpx-sse = "^0.4.0"
sse-starlette = "^2.0.0"
aiostream = "^0.5.2"

[tool.poetry.group.dev.dependencies]
ruff = "^0.1.7"
pytest-asyncio = "^0.23.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
line-length = 121
