# Minimum level of visible Logs
NEXT_PUBLIC_DEBUG = true

# Minimum level of visible Logs
NEXT_PUBLIC_LOG_LEVEL = DEBUG
# NEXT_PUBLIC_LOG_LEVEL = ERROR

# API/Backend basic URL
NEXT_PUBLIC_API_URL = http://localhost:3030
# NEXT_PUBLIC_API_URL = https://dev-api.domain.com
# NEXT_PUBLIC_API_URL = https://api.domain.com

# Other settings
NEXT_PUBLIC_GOOGLE_API_CLIENT_ID = _YOUR_CLIENT_ID_HERE_