# .env.local

# NextAuth.js Secret -- set to a random string
NEXTAUTH_SECRET=secret

# EIDOLON_SERVER is the URL of the EIDOLON server
EIDOLON_SERVER=http://127.0.0.1:8080

# EIDOLON_AUTH_PROVIDERS is a comma-separated list of auth providers. Legal values are "google", "github", "azure"
EIDOLON_AUTH_PROVIDERS=

# Minimum level of visible Logs
NEXT_PUBLIC_DEBUG=true

# Minimum level of visible Logs
NEXT_PUBLIC_LOG_LEVEL=DEBUG
# NEXT_PUBLIC_LOG_LEVEL = ERROR
