[tool.poetry]
name = "eidolon_examples"
version = "0.1.0"
description = ""
authors = ["Luke Lalor <lukehlalor@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.11,<3.12"
setuptools = "^69.0.2"
transformers = "^4.35.2"
eidos-sdk = {path = "../sdk", develop = true}

[tool.poetry.group.dev.dependencies]
ruff = "^0.1.7"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
eidos-server = "eidos_sdk.bin.agent_http_server:main"

[tool.ruff]
line-length = 121