.responsiveTable {
    overflow-x: auto;
}

.markdown {
    display: grid;
    gap: .625rem;
}

.markdown > p {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.markdown table {
    --tw-border-spacing-x: 0px;
    --tw-border-spacing-y: 0px;
    border-collapse: separate;
    border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
    margin-bottom: .25rem;
    margin-top: .25rem;
    width: 100%;
    border-color: #e3e3e3;
}

.markdown th {
    background-color: hsla(0, 0%, 93%, .2);
    border-style: solid;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 0;
    border-top-width: 1px;
    padding: .25rem .75rem;
}

.markdown th:first-child {
    border-top-left-radius: .375rem;
}

.markdown th:last-child {
    border-right-width: 1px;
    border-top-right-radius: .375rem
}

.markdown td {
    border-style: solid;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 0;
    padding: .25rem .75rem
}

.markdown td:last-child {
    border-right-width: 1px
}

.markdown tbody tr:last-child td:first-child {
    border-bottom-left-radius: .375rem
}

.markdown tbody tr:last-child td:last-child {
    border-bottom-right-radius: .375rem
}

.markdown ul {
    min-width: 0;
    padding-left: 2rem;
    list-style-type: disc;
    margin-top: -.25rem;
}

.markdown ol {
    min-width: 0;
    padding-left: 2rem;
    list-style-type: decimal;
    margin-top: -.25rem;
}

.markdown ol > li {
    overflow-wrap: break-word;
    white-space: normal;
}

.markdown pre {
    font-size: .9em;
}

.markdown code {
    font-size: .85rem;
    padding: 1px 2px;
    color: rgb(124, 27, 19);
    font-family: inherit;

    background-color: rgba(61, 57, 41, 0.05);
    border-bottom-color: rgba(112, 107, 87, 0.25);
    border-bottom-left-radius: 4.8px;
    border-bottom-right-radius: 4.8px;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-image-repeat: stretch;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(112, 107, 87, 0.25);
    border-left-style: solid;
    border-left-width: 0.5px;
    border-right-color: rgba(112, 107, 87, 0.25);
    border-right-style: solid;
    border-right-width: 0.5px;
    border-top-color: rgba(112, 107, 87, 0.25);
    border-top-left-radius: 4.8px;
    border-top-right-radius: 4.8px;
    border-top-style: solid;
    border-top-width: 0.5px;
}
