interactions:
- request:
    body: null
    headers:
      authorization:
      - XXXXXX
      x-ms-date:
      - Wed, 26 Jun 2024 17:56:35 GMT
      x-ms-version:
      - '2024-05-04'
    method: GET
    uri: https://eidolon.blob.core.windows.net/eidolon-test-file-test-globazure-memory?restype=container
  response:
    body:
      string: ''
    headers:
      Etag:
      - '"0x8DC9136B0D9D734"'
      Last-Modified:
      - Thu, 20 Jun 2024 14:38:46 GMT
      x-ms-default-encryption-scope:
      - $account-encryption-key
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-immutable-storage-with-versioning-enabled:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2024-05-04'
    status:
      code: 200
      message: OK
- request:
    body: FOO
    headers:
      Content-Type:
      - application/octet-stream
      authorization:
      - XXXXXX
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 26 Jun 2024 17:56:36 GMT
      x-ms-version:
      - '2024-05-04'
    method: PUT
    uri: https://eidolon.blob.core.windows.net/eidolon-test-file-test-globazure-memory/bar.py
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - kBiQqOnIz21aGlQrIp/r/w==
      Etag:
      - '"0x8DC960952AF1CCE"'
      Last-Modified:
      - Wed, 26 Jun 2024 17:56:36 GMT
      x-ms-content-crc64:
      - wtij308CLwo=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2024-05-04'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - XXXXXX
      x-ms-date:
      - Wed, 26 Jun 2024 17:56:36 GMT
      x-ms-version:
      - '2024-05-04'
    method: GET
    uri: https://eidolon.blob.core.windows.net/eidolon-test-file-test-globazure-memory?comp=list&include=metadata&restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://eidolon.blob.core.windows.net/\" ContainerName=\"eidolon-test-file-test-globazure-memory\"><Blobs><Blob><Name>bar.py</Name><Properties><Creation-Time>Thu,
        20 Jun 2024 14:38:46 GMT</Creation-Time><Last-Modified>Wed, 26 Jun 2024 17:56:36
        GMT</Last-Modified><Etag>0x8DC960952AF1CCE</Etag><Content-Length>3</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>kBiQqOnIz21aGlQrIp/r/w==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata
        /><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2024-05-04'
    status:
      code: 200
      message: OK
version: 1
