interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.vectara.io/v2/corpora/black-holes-sample-data/documents/blob
  response:
    body:
      string: "{\"id\":\"blob\",\"metadata\":{\"X-TIKA:Parsed-By\":\"org.apache.tika.parser.html.HtmlParser\",\"dc:title\":\"Black
        hole - Wikipedia\",\"Content-Encoding\":\"UTF-8\",\"Content-Language\":\"en\",\"Content-Type\":\"text/html;
        charset=UTF-8\",\"title\":\"Black hole - Wikipedia\"},\"parts\":[{\"text\":\"Black
        hole - Wikipedia\",\"metadata\":{\"title_level\":1,\"is_title\":true,\"lang\":\"yor\"},\"context\":\"\",\"custom_dimensions\":{}},{\"text\":\"Jump
        to content \\n    \\n      \\n        \\n          \\n            \\n                Main
        menu  \\n            \\n          \\n                 \\n        \\n        \\n
        \         \\n             Search  \\n            \\n              \\n                \\n
        \                 \\n                       \\n                     \\n                  \\n
        \                 Search \\n                \\n              \\n            \\n
       [...]
