interactions:
- request:
    body: '{"query": "what is a black hole?", "search": {"limit": 10, "offset": 0}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.vectara.io/v2/corpora/black-holes-sample-data/query
  response:
    body:
      string: "{\"search_results\":[{\"text\":\"A black hole is a region of spacetime
        where gravity is so strong that nothing, not even light and other electromagnetic
        waves, is capable of possessing enough energy to escape it.\",\"score\":0.8379570841789246,\"part_metadata\":{\"title\":\"Black
        hole\",\"lang\":\"eng\",\"section\":34,\"offset\":2016,\"len\":179},\"document_metadata\":{\"X-TIKA:Parsed-By\":\"org.apache.tika.parser.html.HtmlParser\",\"dc:title\":\"Black
        hole - Wikipedia\",\"Content-Encoding\":\"UTF-8\",\"Content-Language\":\"en\",\"Content-Type\":\"text/html;
        charset=UTF-8\",\"title\":\"Black hole - Wikipedia\"},\"document_id\":\"blob\"},{\"text\":\"Black
        hole\",\"score\":0.48227089643478394,\"part_metadata\":{\"is_title\":true,\"title_level\":2},\"document_metadata\":{\"X-TIKA:Parsed-By\":\"org.apache.tika.parser.html.HtmlParser\",\"dc:title\":\"Black
        hole - Wikipedia\",\"Content-Encoding\":\"UTF-8\",\"Content-Language\":\"en\",\"Content-Type\":\"text/html;
        charset=UTF-8\",\"title\":\"Black hole - Wikipedia\"},\"document_id\":\"blob\"},{\"text\":\"The
        size of a black hole, as determined by the radius of the event horizon, or
        Schwarzschild radius, is proportional to the mass, M, through \\n             [...]
