---
import {Icon} from "astro-icon/components";
import Logo from "~/components/Logo.astro";
import ToggleTheme from "~/components/common/ToggleTheme.astro";
import ToggleMenu from "~/components/common/ToggleMenu.astro";
import Button from "~/components/ui/Button.astro"

import {getHomePermalink} from "~/utils/permalinks";
import {trimSlash, getAsset} from "~/utils/permalinks";
import type {CallToAction} from "~/types";
import Header from "./widgets/Header.astro";
import {headerData, footerData} from '~/navigation';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface ActionLink extends CallToAction {
}

interface MenuLink extends Link {
  links?: Array<MenuLink>;
}

export interface Props {
  id?: string;
  links?: Array<MenuLink>;
  actions?: Array<ActionLink>;
  isSticky?: boolean;
  isDark?: boolean;
  isFullWidth?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
}

const {
  id = "header",
  links = [],
  actions = [],
  isSticky = false,
  isDark = false,
  isFullWidth = false,
  showToggleTheme = false,
  showRssFeed = false,
  position = "center",
} = Astro.props;

import 'src/assets/styles/tailwind.css';
---

<div class="w-full">
  <Header {...headerData} isSticky showRssFeed showToggleTheme showMenu={false}/>
</div>
