interactions:
- request:
    body: ''
    headers:
      authorization:
      - XXXXXX
    method: GET
    uri: https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests
  response:
    content: '[{"name":"__init__.py","path":"sdk/tests/__init__.py","sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","size":0,"url":"https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/__init__.py?ref=main","html_url":"https://github.com/eidolon-ai/eidolon/blob/main/sdk/tests/__init__.py","git_url":"https://api.github.com/repos/eidolon-ai/eidolon/git/blobs/e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","download_url":"https://raw.githubusercontent.com/eidolon-ai/eidolon/main/sdk/tests/__init__.py","type":"file","_links":{"self":"https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/__init__.py?ref=main","git":"https://api.github.com/repos/eidolon-ai/eidolon/git/blobs/e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","html":"https://github.com/eidolon-ai/eidolon/blob/main/sdk/tests/__init__.py"}},{"name":"agent","path":"sdk/tests/agent","sha":"2d23fed62f35dbf40a67d894349c35571cf0a952","size":0,"url":"https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/agent?ref=main","html_url":"https://github.com/eidolon-ai/eidolon/tree/main/sdk/tests/agent","git_url":"https://api.github.com/repos/eidolon-ai/eidolon/git/trees/2d23fed62f35dbf40a67d894349c35571cf0a952","download_url":null,"type":"dir","_links":{"self"[...]
- request:
    body: ''
    headers:
      authorization:
      - XXXXXX
    method: GET
    uri: https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/agent?ref=main
  response:
    content: '[{"name":"__init__.py","path":"sdk/tests/agent/__init__.py","sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","size":0,"url":"https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/agent/__init__.py?ref=main","html_url":"https://github.com/eidolon-ai/eidolon/blob/main/sdk/tests/agen[...]
- request:
    body: ''
    headers:
      authorization:
      - XXXXXX
    method: GET
    uri: https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/system?ref=main
  response:
    content: '[{"name":"__init__.py","path":"sdk/tests/system/__init__.py","sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","size":0,"url":"https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/system/__init__.py?ref=main","html_url":"https://github.com/eidolon-ai/eidolon/blob/main/sdk/tests/s[...]
- request:
    body: ''
    headers:
      authorization:
      - XXXXXX
    method: GET
    uri: https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/impl?ref=main
  response:
    content: '[{"name":"__init__.py","path":"sdk/tests/impl/__init__.py","sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","size":0,"url":"https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/impl/__init__.py?ref=main","html_url":"https://github.com/eidolon-ai/eidolon/blob/main/sdk/tests/impl/__[...]
- request:
    body: ''
    headers:
      authorization:
      - XXXXXX
    method: GET
    uri: https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/util?ref=main
  response:
    content: '[{"name":"__init__.py","path":"sdk/tests/util/__init__.py","sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","size":0,"url":"https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/util/__init__.py?ref=main","html_url":"https://github.com/eidolon-ai/eidolon/blob/main/sdk/tests/util/__[...]
- request:
    body: ''
    headers:
      authorization:
      - XXXXXX
    method: GET
    uri: https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/cpu?ref=main
  response:
    content: '[{"name":"__init__.py","path":"sdk/tests/cpu/__init__.py","sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","size":0,"url":"https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/cpu/__init__.py?ref=main","html_url":"https://github.com/eidolon-ai/eidolon/blob/main/sdk/tests/cpu/__init[...]
- request:
    body: ''
    headers:
      authorization:
      - XXXXXX
    method: GET
    uri: https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/images?ref=main
  response:
    content: '[{"name":"cat.png","path":"sdk/tests/images/cat.png","sha":"b346e800748974075991481150e98004439576c4","size":320,"url":"https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/images/cat.png?ref=main","html_url":"https://github.com/eidolon-ai/eidolon/blob/main/sdk/tests/images/cat.[...]
- request:
    body: ''
    headers:
      authorization:
      - XXXXXX
    method: GET
    uri: https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/agent/cassettes?ref=main
  response:
    content: '[{"name":"test_retriever_agent","path":"sdk/tests/agent/cassettes/test_retriever_agent","sha":"69f559788795adcf335334290518de66a4d7c64f","size":0,"url":"https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/agent/cassettes/test_retriever_agent?ref=main","html_url":"https://github.com/eidolon-ai/eidolon/tree/main/sdk/tests/agent/cassettes/test_retriever_agent","git_url":"https://api.github.com/repos/eidolon-ai/eidolon/git/trees/69f559788795adcf335334290518de66a4d7c64f","download_url":null,"type":"dir","_links":{"self":"https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/agent/cassettes/test_retriever_agent?ref=main","git":"https://api.github.com/repos/eidolon-ai/eidolon/git/trees/69f559788795adcf335334290518de66a4d7c64f","html":"https://github.com/eidolon-ai/eidolon/tree/main/sdk/tests/agent/cassettes/test_retriever_agent"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"064e0a81d6dafea36f4c96a8e2042364540bb63d"
      Last-Modified:
      - Tue, 20 Feb 2024 17:44:26 GMT
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - read:project, repo:status
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4454'
      X-RateLimit-Reset:
      - '1708466020'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '546'
      github-authentication-token-expiration:
      - 2024-05-20 20:12:56 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - XXXXXX
    method: GET
    uri: https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/agent/doc_manager?ref=main
  response:
    content: '[{"name":"__init__.py","path":"sdk/tests/agent/doc_manager/__init__.py","sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","size":0,"url":"https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/agent/doc_manager/__init__.py?ref=main","html_url":"https://github.com/eidolon[...]
- request:
    body: ''
    headers:
      authorization:
      - XXXXXX
    method: GET
    uri: https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/system/cassettes?ref=main
  response:
    content: '[{"name":"test_generic_agent","path":"sdk/tests/system/cassettes/test_generic_agent","sha":"e92d7fa1c1bbe990312ec1c4720d01f15cb342f8","size":0,"url":"https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/system/cassettes/test_generic_agent?ref=main","html_url":"https://[...]
- request:
    body: ''
    headers:
      authorization:
      - XXXXXX
    method: GET
    uri: https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/agent/retriever_docs?ref=main
  response:
    content: '[{"name":"bar","path":"sdk/tests/agent/retriever_docs/bar","sha":"d7fd9445df0af66972e23ff3b6c05a8ef90ce55f","size":310,"url":"https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/agent/retriever_docs/bar?ref=main","html_url":"https://github.com/eidolon-ai/eidolon/b[...]
- request:
    body: ''
    headers:
      authorization:
      - XXXXXX
    method: GET
    uri: https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/agent/cassettes/test_retriever_agent?ref=main
  response:
    content: '[{"name":"test_search.yaml","path":"sdk/tests/agent/cassettes/test_retriever_agent/test_search.yaml","sha":"48087271a775240e9fed3ec3c5eac7579a004c39","size":209977,"url":"https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/agent/cassettes/test_retr[...]
- request:
    body: ''
    headers:
      authorization:
      - XXXXXX
    method: GET
    uri: https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/agent/doc_manager/transformer?ref=main
  response:
    content: '[{"name":"__init__.py","path":"sdk/tests/agent/doc_manager/transformer/__init__.py","sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","size":0,"url":"https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/agent/doc_manager/transformer/__init__.py?ref=main","h[...]
- request:
    body: ''
    headers:
      authorization:
      - XXXXXX
    method: GET
    uri: https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/agent/doc_manager/parsers?ref=main
  response:
    content: '[{"name":"AgentXOS.pdf","path":"sdk/tests/agent/doc_manager/parsers/AgentXOS.pdf","sha":"aeff024a96558192032454a91051e26f5b799472","size":1185792,"url":"https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/agent/doc_manager/parsers/AgentXOS.pdf?ref=main","html[...]
- request:
    body: ''
    headers:
      authorization:
      - XXXXXX
    method: GET
    uri: https://api.github.com/repos/eidolon-ai/eidolon/contents/sdk/tests/system/cassettes/test_generic_agent?ref=main
  response:
    content: '[{"name":"TestAgentsWithReferences.test_can_communicate.yaml","path":"sdk/tests/system/cassettes/test_generic_agent/TestAgentsWithReferences.test_can_communicate.yaml","sha":"354c81e5143c3b1a7a1cc80a0f59d393a73bb46d","size":15449,"url":"https://api.github.com/repo[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/eidolon-ai/eidolon/main/sdk/tests/conftest.py
  response:
    content: "import os\nimport pathlib\nimport socket\nimport threading\nfrom contextlib
      import asynccontextmanager\nfrom typing import Iterable\nfrom unittest.mock
      import patch, AsyncMock\n\nimport httpx\nimport pytest\nimport uvicorn\nfrom
      bson import ObjectId\nfrom fastapi import FastAPI\nfrom motor.motor_asyncio
      imp[...]
[...]
