name: Release @eidolon-components and @eidolon-client

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install Dependencies
        run: pnpm install
        working-directory: eidolon/webui

      - name: Build Packages
        run: pnpm build
        working-directory: eidolon/webui

      - name: Version Packages
        run: pnpm changeset version
        working-directory: eidolon/webui

      - name: Publish Packages
        run: |
          pnpm --filter @eidolon/client changeset publish --no-git-checks
          pnpm --filter @eidolon/components changeset publish --no-git-checks
        working-directory: eidolon/webui

      - name: Push Tags to GitHub
        run: git push --follow-tags
        working-directory: eidolon/webui

      - name: Create Release Pull Request
        id: changesets
        uses: changesets/action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}