name: Bump Version and Release K8 Operator
on:
  workflow_run:
    workflows: [ "Test K8 Operator" ]
    types:
      - completed
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  wait_for_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: lewagon/wait-on-check-action@v1.3.4
        with:
          check-name: examples-test
          ref: ${{ github.ref }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: lewagon/wait-on-check-action@v1.3.4
        with:
          check-name: test-quickstart-no-mongodb
          ref: ${{ github.ref }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: lewagon/wait-on-check-action@v1.3.4
        with:
          check-name: test-webui
          ref: ${{ github.ref }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: lewagon/wait-on-check-action@v1.3.4
        with:
          check-name: sdk-test-local-memory (3.11)
          ref: ${{ github.ref }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: lewagon/wait-on-check-action@v1.3.4
        with:
          check-name: sdk-test-local-memory (3.12)
          ref: ${{ github.ref }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: lewagon/wait-on-check-action@v1.3.4
        with:
          check-name: test-webui-build
          ref: ${{ github.ref }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: lewagon/wait-on-check-action@v1.3.4
        with:
          check-name: usage-service-test
          ref: ${{ github.ref }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}

  rev_and_release:
    needs: wait_for_tests
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.PUSH_APP_ID }}
          private_key: ${{ secrets.PUSH_APP_PRIVATE_KEY }}
      - name: Increment version
        id: increment_version
        working-directory: k8s-operator
        run: |
          make increment-patch
      - name: Get current version
        id: get_version
        run: echo "version=$(cat k8s-operator/VERSION)" >> $GITHUB_OUTPUT
      - name: Commit changes
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add k8s-operator/VERSION
          git commit -m "Bump version to $(cat k8s-operator/VERSION)"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ steps.generate_token.outputs.token }}
          branch: ${{ github.ref }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21.x'
          cache-dependency-path: k8s-operator/go.sum
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: "build"
        run: make build docker-buildx
        working-directory: k8s-operator
      - name: "bundle"
        run: make bundle bundle-buildx
        working-directory: k8s-operator
      - name: "catalog"
        run: make catalog-build catalog-push
        working-directory: k8s-operator
